.navContent {
    height: 90px;
    background-color: #112F70;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    margin-bottom: 50px;
}

@media only screen and (max-width: 450px) {
    .navContent {
        display: none;
    }
}

.navContent img {
    margin: 0 4rem;
    width: 40px;
    position: relative;
    top: 25%;
}

@media only screen and (max-width: 1008px) {
    .navContent img {
        margin: 0 3rem;
        width: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .navContent img {
        margin: 0 4.5%;
    }
}

@media only screen and (max-width: 417px) {
    .navContent img {
        margin: 0 4%;
    }
}

@media only screen and (max-width: 369px) {
    .navContent img {
        width: 8%;
        margin: 0 4%;
    }

    .navContent {
        height: 70px;
    }
}

@media only screen and (min-width: 450px) {
    .navBarResponsive {
        display: none !important;
    }
}


.navBarResponsive {
    display: flex;
    flex-direction: column;
    background-color: #112F70;
    text-align: left;
}
.navBarResponsive button {
    background: none;
    border: none;
    text-align: left;
}

.navBarResponsive button img {
    vertical-align: middle;
    padding: 0.3rem;
}

.navBarResponsive .open {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem 0.5rem;
    overflow-y: scroll;
}
.navBarResponsive .open a {
    text-decoration: none;
    color: white;
    margin-top: 0.8rem;
}
.navBarResponsive .open a img {
    width: 1rem;
    margin-right: 1rem;
}
.navBarResponsive .close {
    display: none;
}