.navContent {
    height: 90px;
    background-color: #112F70;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.navContent img {
    margin: 0 4rem;
    width: 40px;
    position: relative;
    top: 25%;
}