@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800');

.mainContainerLogin * {
box-sizing: border-box;
}

.mainContainerLogin {
background: #f6f5f7;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
font-family: 'Montserrat', sans-serif;
height: 100vh;
margin: -20px 0 50px;
}

.mainContainerLogin h1 {
font-weight: 600;
margin: 0;
}

.mainContainerLogin h2 {
text-align: center;
}

.mainContainerLogin p {
font-size: 14px;
font-weight: 100;
line-height: 20px;
letter-spacing: 0.5px;
margin: 20px 0 30px;
}

.mainContainerLogin span {
font-size: 12px;
}

.mainContainerLogin a {
color: #333;
font-size: 14px;
text-decoration: none;
margin: 15px 0;
}

.mainContainerLogin button {
border-radius: 15px;
border: none;
  margin-top: 15px;
background-color: #112F70;
color: #FFFFFF;
font-size: 12px;
font-weight: bold;
padding: 12px 35px;
letter-spacing: 1px;
text-transform: uppercase;
transition: transform 80ms ease-in;
}

.mainContainerLogin button:active {
transform: scale(0.95);
}

.mainContainerLogin form {
background-color: #FFFFFF;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 0 50px;
height: 100%;
text-align: center;
}

.mainContainerLogin input {
border: 2px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
padding: 8px;
margin: 8px 0;
  outline: none;
  transition: .3s;
width: 100%;
}

.mainContainerLogin input:focus {
  border-color: #112F70;
  box-shadow: 0 0 8px 0;
}

.idIcon input {
  padding-left: 40px;
}

.idIcon {
  position: relative;
}

.overlay-container .idIcon img {
  position: absolute;
  color: #aaa;
  left: 0;
  padding: 9px 8px;
  transition: .3s;
  top: 8px;
  width: 15%;
}

.overlay-container h2 {
  font-weight: 600;
  color: #112F70;
}

.mainContainerLogin .container {
background-color: #fff;
border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
position: relative;
overflow: hidden;
width: 768px;
max-width: 100%;
min-height: 480px;
}


.mainContainerLogin .form-container {
position: absolute;
top: 0;
height: 100%;
transition: all 0.6s ease-in-out;
}

.sign-in-container {
left: 0;
width: 50%;
z-index: 2;
}

.overlay-container {
position: absolute;
top: 0;
left: 50%;
width: 50%;
height: 100%;
overflow: hidden;
transition: transform 0.6s ease-in-out;
z-index: 100;
}

.overlay-container img{
width: 120px;
  margin-bottom: 30px;
}

.mainContainerLogin  .overlay {
background: #112F70;
color: #FFFFFF;
position: relative;
left: -100%;
height: 100%;
width: 200%;
  transform: translateX(0);
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
transform: translateX(-20%);
}

.overlay-right {
right: 0;
transform: translateX(0);
}

.overlay-right sup {
font-size: small;
  font-weight: normal;
}

.overlay-right img{
  width: 300px;
  margin-bottom: 30px;
}

.idIcon input {
  padding-left: 40px;
}

.idIcon {
  position: relative;
}
.overlay-container .idIcon img {
  position: absolute;
  color: #aaa;
  left: 0;
  padding: 9px 8px;
  transition: .3s;
  top: 8px;
  width: 15%;
}

.idIconReg {
  position: relative;
  width: 100%;
}

.idIconReg img {
  position: absolute;
  left: 0;
  top: 8px;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
  width: 30px;
}  
